* {
    box-sizing: border-box;
    font-family: 'Recursive', sans-serif;
  }
  
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 
.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicial-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;

}

.logo {
    font-family: 'Righteous';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
    
}

.box{
    width: 246px;
    height: 43px;
    padding: 5px;
    margin-bottom: 6px;
    background: #FFFFFF;
}

.choose-deck {
    border: none;
    border-radius: 5px;
    font-size: 9px;
    color: #ADADAD;
}

.goal-input {
    border: none;
    border-radius: 5px;
    font-size: 9px;
}

.init-button {
    height: 54px;
    width: 246px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 12px;
    color: #D70900;
    line-height: 14px;
    text-align: center;
    margin-top: 18px;
}

.game-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color:#FB6B6B;
    border: 1px solid #DBDBDB;
}

.game-logo {
    font-family: 'Righteous';
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    margin: 30px 0;
    
}

.game-logo img {
    height: 60px;
    width: 52px;
}

.game-logo h1 {
    height: 44px;
    width: 203px;
    align-items: center;
    text-align: center;
}

.questions-box {
    height: fit-content;
    width: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.questions-box::-webkit-scrollbar {
    display: none;
  }

.question {
    height: fit-content;
    width: 300px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.question-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.black ion-icon {
    cursor: pointer;
}

.card-side {
    position: relative;
    display: flex;
    height: 131px;
    width: 300px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.card-side p{
    position: absolute;
    top: 15px;
    left: 15px;
}

.setinha {
    position: absolute;
    cursor: pointer;
    height: 10px;
    width: 20px;
    bottom: 10px;
    right: 15px;
}
